body {
  margin: 0;
  padding: 0;
  padding-top: 100px !important;
  padding-bottom: 250px !important;
}

/* Navbar styles */


.navbar {
  padding: 0.75rem 1rem;
}

.navbar .nav-link {
  font-size: 20px;
  transition: #f5ede1 0.3s ease-in-out;
  position: relative;
}

.navbar .navbar-brand {
  font-size: 22px;
  font-weight: bold;
  color: #FF7F50;
}

.navbar .nav-item:hover {
  display: inline-block;
  border-radius: 6px;
  background-color: #ff7f50;
  color: #f5ede1;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* .nav-item .nav-link.active {
    color:#ff7f50;
} */

.nav-item .nav-link.active:hover {
    color:#f5ede1;
}

.navbar-nav .nav-item .nav-link.active {
  color: #f8f9fa !important;
  font-weight: bold;
}


/* logout */
#Logout {
  width: 36px;
  height: 36px;
  display: inline-block;
}
